<header class="container">
   <div class="inner mx-auto">
   <div class="rounded-pill bg-light shadow-sm p-2 mt-4">
    <div class="d-flex align-items-center align-middle">
    <h1><a href="index.html"><img src="../assets/images/logo.png" alt="logo" class="img-fluid d-block ps-4 py-2" style="width: 130px;"></a></h1>
    <ul class="d-flex list-unstyled ms-auto m-0">
        <li class="fs-6"><a href="#" class="text-decoration-none text-neutral-60 active p-2">成為服務者</a></li>
        <li class="fs-6"><a href="#" class="text-decoration-none text-neutral-60 p-2">我要找看護</a></li>
        <li class="fs-6"><a href="#" class="text-decoration-none text-neutral-60 p-2">探索課程</a></li>
        <li class="fs-6"><button class="border-0 bg-neutral-40 text-light rounded-2">登入</button></li>
    </ul>
    </div>
   </div>
</div>
</header>