<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container">
      <div class="inner mx-auto">
        <div class="d-flex justify-content-between align-items-center">
          <div>
          <h2 class="fs-1 text-primary-dark fw-bold">
            安心照護<br>
            找到最合適的<br>
            照服人員
          </h2>
          <p>醫院看護｜居家喘息照護｜交通接送服務</p>
          <button class="border-0 ps-0 py-2 mt-auto text-primary-dark">填寫需求單 <i class="bi bi-arrow-right-circle-fill"></i></button>
          </div>
          <img src="../assets/images/mainbanner.png" alt="" class="img-fluid">
        </div>
      </div>
    </section>
    <img src="../assets/images/lightwave.png" alt="" class="img-fluid align-bottom">
    <section class="bg-light pb-13">
      <div class="container">
        <div class="inner mx-auto">
        <h3 class="text-center pt-12 pb-9">品牌駐點機構</h3>
        <ul class="d-flex list-unstyled justify-content-around">
          <li>
            <button class="border-0 bg-light"><img src="../assets/images/hospital-chang gung.png" alt="hospital-chang gung" class="img-fluid"></button>
          </li>
          <li>
            <button class="border-0 bg-light"><img src="../assets/images/hospital-chang gung-children.png" alt="hospital-chang gung-children" class="img-fluid"></button>
          </li>
          <li>
            <button class="border-0 bg-light"><img src="../assets/images/hospital-kimmen.png" alt="hospital-kimmen" class="img-fluid"></button>
          </li>
          <li>
            <button class="border-0 bg-light"><img src="../assets/images/hospital-pingtung.png" alt="hospital-pingtung" class="img-fluid"></button>
          </li>
        </ul>
      </div>
      </div>
    </section>

    <section class="bg-light pb-13">
      <div class="container">
        <div class="inner mx-auto">
          <h3 class="text-center pt-12 pb-9">提供的服務</h3>
          <div class="row">
            <!-- card 01 -->
            <div class="col">
              <div class="card h-100 rounded-4">
                <div class="card-body bg-light text-primary-dark rounded-4">
                  <div class="card-title d-flex align-items-center">
                    <img src="../assets/images/serve-card01.png" alt="" class="img-fluid" style="max-width: 48px;">
                    <h4 class="m-0">醫院看護</h4>
                  </div>
                  <p class="card-text text-neutral-60">醫院床邊照顧,全程陪同就醫,專業台籍照服員無溝通障礙。</p>
                  <button class="border-0 bg-light mt-auto"><a href="#" class="text-primary-dark text-decoration-none">預約 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
                </div>
              </div>
            </div>
            <!-- card 02 -->
            <div class="col">
              <div class="card h-100">
                <div class="card-body bg-light text-primary-dark">
                  <div class="card-title d-flex align-items-center">
                    <img src="../assets/images/serve-card02.png" alt="" class="img-fluid" style="max-width: 48px;">
                    <h4 class="m-0">居家喘息照護</h4>
                  </div>
                  <p class="card-text text-neutral-60">至個案家中身體照顧服務，包括如廁、沐浴、進食、服藥等協助。</p>
                  <button class="border-0 bg-light"><a href="#" class="text-primary-dark text-decoration-none">預約 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
                </div>
              </div>
            </div>
            <!-- card 03 -->
            <div class="col">
              <div class="card border-primary-dark h-100">
                <div class="card-body bg-light text-primary-dark">
                  <div class="card-title d-flex align-items-center">
                    <img src="../assets/images/serve-card03.png" alt="" class="img-fluid" style="max-width: 48px;">
                    <h4 class="m-0">交通接送服務</h4>
                  </div>
                  <p class="card-text text-neutral-60">
                    往返居家與機構或醫療院所的<br>
                    交通接送服務。</p>
                  <button class="border-0 bg-light"><a href="#" class="text-primary-dark text-decoration-none mx-auto">預約 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>

    </section>

    <section class="bg-light pb-13">
      <div class="container">
        <div class="inner mx-auto">
          <div class="d-flex align-items-center justify-content-between">
          <img src="../assets/images/join us.png" alt="join us" class="img-fluid" style="max-width: 526px;">
          <div class="row row-cols-1 row-cols-lg-2 g-2">
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">即時通訊</h5>
                  <p class="card-text">聊天室窗,與雇主溝通無礙</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">即時通訊</h5>
                  <p class="card-text">聊天室窗,與雇主溝通無礙</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">即時通訊</h5>
                  <p class="card-text">聊天室窗,與雇主溝通無礙</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">即時通訊</h5>
                  <p class="card-text">聊天室窗,與雇主溝通無礙</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-dark pb-13">
      <div class="container">
        <div class="inner mx-auto">
          <div class="d-flex justify-content-around">
            <div class="text-center">
              <img src="../assets/images/step1.png" alt="" style="max-width: 200px;">
              <h4 class="text-light">填寫需求單</h4>
            </div>
            <div class="text-center">
              <img src="../assets/images/step2.png" alt="" style="max-width: 200px;">
              <h4 class="text-light">填寫需求單</h4>
            </div>
            <div class="text-center">
              <img src="../assets/images/step3.png" alt="" style="max-width: 200px;">
              <h4 class="text-light">填寫需求單</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-40 pb-13">
      <div class="container">
        <div class="inner mx-auto">
          <div class="text-center pt-12">
            <h3>使用者心聲</h3>
            <p>來聽聽看使用好安心顧客的心聲</p>
          </div>
          
        <div class="d-flex flex-column">
          <div class="card rounded-4 mb-3">
            <div class="bg-light d-flex justify-content-between rounded-4">
            <div class="card-body">
              <h5 class="text-primary-dark fw-bold">選擇陳小明先生進行短期醫院看護</h5>
              <p class="mb-0">不必擔心父母在醫院的照護問題,專業的台籍照服員讓我們全家都放心,安心便捷的平台交易服務免於隨意加價之憂!</p>
            </div>
            <div class="card-footer mt-auto bg-light border-0 pb-3 rounded-4">
              <button class="border-0 bg-primary-dark rounded-pill"><a href="#" class="text-light text-decoration-none p-3">立即預約短期照護 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
            </div>
          </div>
          </div>
          <div class="card rounded-4 mb-3">
            <div class="bg-light d-flex justify-content-between rounded-4">
            <div class="card-body">
              <h5 class="text-primary-dark fw-bold">選擇陳小明先生進行短期醫院看護</h5>
              <p class="mb-0 fs-4">不必擔心父母在醫院的照護問題,專業的台籍照服員讓我們全家都放心,安心便捷的平台交易服務免於隨意加價之憂!</p>
            </div>
            <div class="card-footer mt-auto bg-light border-0 pb-3 rounded-4">
              <button class="border-0 bg-primary-dark rounded-pill"><a href="#" class="text-light text-decoration-none p-3">立即預約短期照護 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
            </div>
          </div>
          </div>
          <div class="card rounded-4">
            <div class="bg-light d-flex justify-content-between rounded-4">
            <div class="card-body">
              <h5 class="text-primary-dark fw-bold">選擇陳小明先生進行短期醫院看護</h5>
              <p class="mb-0">不必擔心父母在醫院的照護問題,專業的台籍照服員讓我們全家都放心,安心便捷的平台交易服務免於隨意加價之憂!</p>
            </div>
            <div class="card-footer mt-auto bg-light border-0 pb-3 rounded-4">
              <button class="border-0 bg-primary-dark rounded-pill"><a href="#" class="text-light text-decoration-none p-3">立即預約短期照護 <i class="bi bi-arrow-right-circle-fill"></i></a></button>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
